/* General Page Styling */
* {
  background-color: rgb(37, 34, 34);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #353434;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  width: 100%;
  bottom: 0;
}

.footer p {
  background: transparent;
  margin: 10px;
  font-size: 16px;
}

.footer-links {
  margin-top: 10px;
  background: transparent;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  background: transparent;
  text-decoration: none;
  font-size: 16px;
}

.footer-links a:hover {
  color: #4caf50;
}

/* Rest of the existing styles */
.card {
  border: 1px solid grey;
  width: 250px;
  border-radius: 10px;
}

.col {
  margin: 830px 60px 0px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.card-title {
  margin: 5px 0px 15px 0px;
  font-size: 20px;
  text-align: center;
  color: aliceblue;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  margin: 0px;
  text-align: center;
  color: antiquewhite;
}

.card-container {
  margin: 10px;
}

.artist-img {
  border-radius: 10px;
}

.audio {
  margin: 10px;
  width: 230px;
  height: 40px;
}

.heading {
  color: antiquewhite;
}
.trending-heading{
  position: absolute;
    z-index: 20;
    right: 40vw;
    font-size: 53px;
    font-weight: 600;
    top: 750px;
    background: fixed;
    text-decoration: underline;
    text-decoration-color: red;
}